<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue LaraCasts</title>
    <script src="https://unpkg.com/vue@2.1.4/dist/vue.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="root">
      <h2>All Tasks</h2>
      <ul>
        <li v-for="task in tasks">
          <input type="checkbox" v-model="task.completed">
          <span v-text="task.description"></span>
        </li>
      </ul>

      <h2>Complete Tasks</h2>
      <ul>
        <li v-for="task in completeTasks" v-text="task.description"></li>
      </ul>

      <h2>Incomplete Tasks</h2>
      <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
      </ul>
    </div>

    <script type="text/javascript">
      new Vue({
        el: "#root",
        data: {
          tasks: [
            { description: "Learn Vue", completed: true },
            { description: "more Vue", completed: false },
            { description: "some Elixir", completed: true },
            { description: "Exercism", completed: false },
            { description: "Yoga", completed: true },
            { description: "Sleep", completed: false },
          ],
        },
        computed: {
          completeTasks() {
            return this.tasks.filter(task => task.completed);
          },

          incompleteTasks() {
            return this.tasks.filter(task => !task.completed);
          },
        },
      });
    </script>
  </body>
</html>
