<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue LaraCasts</title>
    <script src="https://unpkg.com/vue@2.1.4/dist/vue.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="root">
      <ul>
        <li v-for="name in names" v-text="name"></li>
      </ul>

      <input type="text" id="input" v-model="newName">
      <button v-on:click="addName">Add Name</button>
    </div>

    <script type="text/javascript">
      new Vue({
        el: "#root",
        data: {
          newName: "",
          names: ["Alice", "Bob", "Charlie", "Daphne"],
        },
        methods: {
          addName() {
            this.names.push(this.newName);
            this.newName = "";
          },
        },
      });
    </script>
  </body>
</html>
